$colorMenu: #0f5396;
$bleu-trapil: rgba(60, 151, 187, 1);
$vert-trapil: rgb(67, 166, 143);
$primary-50: lighten($bleu-trapil, 38%);
$primary-100: lighten($bleu-trapil, 31%);
$primary-200: lighten($bleu-trapil, 19%);
$primary-300: lighten($bleu-trapil, 0%);
