$blue-gray-light : #d6e4e8;
$blue-gray-medium : #9fc0c9;
$medium-font : 12px;
$medium2-font : 14px;
$large-font : 17px;
$primary-600: darken($primary, 10%);
$shadow-card : 2px 2px 8px 5px rgba(0, 0, 0, 0.16);
$accent-light : lighten($accent, 20%);
